{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>All Blogs</h1>

{% if user.is_authenticated %}
    <a href="{% url 'create_blog' %}" class="btn">Create Blog</a>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to create a blog.</p>
{% endif %}

{% for blog in blogs %}
    <div class="blog">
        <h2>{{ blog.title }}</h2>
        <p>By {{ blog.author.username }} | {{ blog.timestamp }}</p>
        <p>{{ blog.content|truncatechars:200 }}</p>
        <p><strong>Tags:</strong> {{ blog.tags }}</p>
        <p><strong>Views:</strong> {{ blog.views_count }} | <strong>Likes:</strong> {{ blog.likes_count }}</p>
    </div>
    <hr>
{% endfor %}
{% endblock %}
