{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    <h2>{{ user.username }}'s Profile</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Blogs Written:</strong> {{ blogs_count }}</p>

    <h3>Your Blogs</h3>
    <ul class="user-blogs">
        {% for blog in blogs %}
            <li class="user-blog-item">
                <h4>{{ blog.title }}</h4>
                <p>
                    {% if blog.content|wordcount > 200 %}
                        {{ blog.content|truncatewords:200 }}...
                    {% else %}
                        {{ blog.content }}
                    {% endif %}
                </p>
                {% if blog.content|wordcount > 200 %}
                    <a href="{% url 'view_blog' blog.id %}" class="view-blog-link">Read more</a>
                {% endif %}
                <form action="{% url 'delete_blog' blog.id %}" method="POST" class="delete-blog-form">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
