{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Join Our Platform</h1>
    <p>Create an account to start sharing your blogs with the community!</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="button-primary">Sign Up</button>
    </form>
    <p class="alt-action">
        Already have an account? <a href="{% url 'login' %}">Log In</a>
    </p>
</div>
{% endblock %}
